

body{
    background-color: rgb(240, 255, 242);
}

h1{
    font-size:xx-large;
    font-family: cursive, 'Lucida Sans', lucida s, 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center{
    text-align: center;
}

.fruta{
color:red;
}




.frutaEnCarrito{
    color:blue;
    }
    

    .fondo-inputs {
        background-color: rgb(249, 127, 255) !important;
    }

